html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    /* max-width: 1440px; */
    width: 100%;
}

.container {
    background-color: #252B42;
    font-family: Roboto, serif;
    font-size: 16px;
    color: white;
    /* max-width: 100%; */
    
}
.head {
    background-image: url(backlightup.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-image: url(backdarkdown.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    
    /* background-image: url(backdarkdown.png) no-repeat 0 0 cover, url(backlightup.png) no-repeat 0 0 cover; */
   
    /* background-image: url(backdarkdown.png), url(backlightup.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover; */

   

}
.head-nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    height: 3rem;
    margin: (4 10 6 10);
    /* margin-bottom: 6rem; */
    /* margin: auto; выравниваем по центру страницы
    
    
     */

}
.head-nav-ul {
    display: flex;
    justify-content: space-around;
    /* display: grid;
    grid-template-columns: repeat(5, 1fr); */
    list-style: none;
    gap: 0.8rem;
    align-items: stretch;
    font-size: 1rem;
    padding: 0;
    
}
.head-nav-ul-item {
    padding-left: 2.5rem;
}
.head-nav-ul-item a {
    text-decoration: none;
    color: white;
    font-size: 0.875rem;
}
.input-mail {
    background-color: white;
    border: none;
    border-radius: 5rem;
    font-size: 0.875rem;
    color: black;
    margin-left: 3rem;
    width: 16rem;
}
.small-button {
    background-color: white;
    border-radius: 3rem;
    border: none;
    width: 9rem;
    color: #2091F9;
    font-weight: 500;
}
.small-button a {
    text-decoration: none;
    color: #2091F9;

}
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.maintitle {
    font-size: 55px;
    font-weight: 900;
    align-self: center;
    margin-top: 0;
    margin-bottom: 1.5rem;
}
.bigtitle {
    font-size: 46px;
    font-weight: 400;
    align-self: center;
    margin-top: 0;
    margin-bottom: 1.5rem;
}
.subtitle {
    font-size: 22px;
    font-weight: 700;
    align-self: center;
    margin-top: 0;
    margin-bottom: 1rem;
}
.text-center {
    align-self: center;
    margin-top: 0;
    margin-bottom: 5.5rem;
    
}
.big-button {
    background-color: white;
    border-radius: 3.5rem;
    border: none;
    width: 15rem;
    height: 3.5rem;
    color: #2091F9;
    font-weight: 700;
    font-size: 1.375rem;
    align-self: center;
    margin-bottom: 7rem;
}
.big-button a {
    text-decoration: none;
    color: #2091F9;

}
.mac {
    /* display: block; */
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 8rem;

    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
.flex-row {
    /* display: flex;
    max-width: 30rem;
    margin: auto; */
    display: flex;
    justify-content: center;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 4rem;
}
/* .flex-row.flex-column {
    margin-left: 6rem;
} */
.menu-pict {
    float: right;
    font-size: 1.5rem;

}
.menu-text {
    font-size: 0.9rem;
}
.buttons-buy-try {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 4rem;
}
.two-button {
    display: flex;
    justify-content: center;
    height: 3rem;
    gap: 1rem;
}
.two-button button:nth-child(2) {
    border: 1px solid white;
    background-color: inherit;
}
.two-button a:nth-child(2) {
    color: white;
}
.newsletter {
    display: grid;
    grid-template-columns: 1.5fr 1 fr;
    grid-template-rows: repeat(4, 1fr);
    margin: auto;

}
.letter-pic {
    grid-area: 1 1 5 2;
    
}